html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url('../images/Leather-Grey.jpg');
}
.hundredPercent{
	height:100%;
	width:100%;
	margin:0;
	padding:2px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	//position: fixed;
}

a {
  color: #00B7FF;
}
p {
	margin:2px;
	
}
.descriptor {
	color: lightgray;
	font-style: italic;
	font-size: 12px;
	z-index: 100;
	position: absolute;
	top:10px;
	left:10px;
}
.screenWidth {
	width: 100%;
}
.fixation {
	position: fixed;
	top: 0;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	background-color: #eaf4f4;
	//background-image: url('../images/Leather-Grey.jpg');
	//background-color: #f9fffe;
}
.fixation::after {
	-webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}
.topRow {
	height: 17%;
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	position: relative;
	margin-bottom: 15px;
	//top:5px;
	/*left: 0;*/
}
.midRow {
	height: 15%;
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	position: relative;
	margin-top: 7.5px;
	margin-bottom: 15px;
	//padding-bottom: 7.5px
	//background-color: #e8efef;
	/*top:0;
	left: 0;*/
}
.blockRows {
	min-height: 10%;
	max-height: 15%;
	height: 13%;
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	padding: 2px;
	margin: auto;
}
.sideBySide {
	float: left;
	width: 100%;
	height:100%;
	text-align: center;
	vertical-align: middle;
	//border: 2px  dashed lightgray;
	margin: auto;
}
.innerCell {
	height:92%;
	width:92%;
	//text-align: center;
	position: relative;
	//top: 10%;
	vertical-align: middle;
	margin: auto;
}
.balanceCell {
	background-color: #e8efef;
	border-left: lightgray 1px dashed;
	min-height: 100%;
}
.coinBase {
	font-size: 150%;
	margin-top: 50px;
	margin-bottom: 20px;
}
.smallIcon {
	float: right;
	height: 50px;
	//width: 28%;
}
.eventCell {
	height:92%;
	width:92%;
	//text-align: center;
	position: relative;
	top: 10%;
	vertical-align: middle;
	margin: auto;
	cursor: hand;
	-moz-box-shadow: 1px 2px 4px rgba(206, 128, 2, .5);
    -webkit-box-shadow: 1px 2px 4px rgba(206, 128, 2, .5);
    box-shadow: 1px 2px 4px rgba(206, 128, 2, .5);
}
.gentleLeft {
	margin-left: 10px;
	text-align: left;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.counter {
	position: absolute; 
	top: 5px; right: 5px; 
	height: 15px;
	width: 30px;
	margin: auto;
	background-color: #dee8e8;
	color: black;
}
.emphasis {
	font-weight: 700;
	font-size: 130%
}
.emptyBlock {
	background-color: darkgray;
	height:92%;
	width:92%;
	z-index: 0;
	//padding: 2px;
	margin: auto;
	vertical-align: middle;
}
.cellContainer{
	//display:inline-block;
	height:92%;
	width:92%;
	//padding: 2.2px;
	margin: auto;
	vertical-align: middle;
}
.blockCell {
	padding-top: 5px;
	background-color: #022307;
	color: #00bf19;
	z-index: 100;	
}
.hand {
	cursor: hand;
}
.positive {
	border: 3px #53ed67 solid;
	z-index: 100;
	background-color: #141312;
	color: #a5f92f;
}
.negative {
	border: 3px #f94b34 solid;
	z-index: 100;
	background-color: #141312;
	color: #ed5731;
}
.neutral {
	border: 3px #f9be34 solid;
	z-index: 100;
	background-color: #141312;
	color: #edd731;
}
.event:hover {
	opacity: 1;
}
.event {
	padding-top: 7px;
	padding-bottom: 7px;
	opacity: 0.5;
}
.positive_event {
	//border: 1px #53ed67 solid;
	z-index: 100;
	background-color: #5b6d6c;
	color: #a5f92f;
}
.negative_event {
	//border: 1px #750422 solid;
	z-index: 100;
	background-color: #70625d;
	color: #ffdbea;
}
.neutral_event {
	//border: 1px #f9be34 solid;
	z-index: 100;
	background-color: #706b5d;
	color: #edd731;
}

.selectedBorder {
	border: 3px #a5f92f solid;
	padding-top: 9px;
	margin-left: -3px;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	//margin-top: -6px;
	//border-top: 6px darkgray solid;
	//background-color: darkgray;
	//background-color: #a3e2e2;
}

.sample-show-hide {
  transition: all linear 0.5s;
}

.scroller {
  
  scroll-snap-type: mandatory;

  /* older spec implementation */
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
}
