<html ng-app="BlockchainMonApp">
    <head>
        <title>Blockchain Monitor</title>
        <script type="text/javascript" src="javascripts/angular.min.js"></script>
		<script type="text/javascript" src ="javascripts/socket.io-1.4.5.js">  </script>
		<script type="text/javascript" src ="javascripts/jquery-1.11.1.js">  </script>
		<script type="text/javascript" src ="javascripts/jquery.qtip.min.js">  </script>
        <script type="text/javascript" src="javascripts/app.js"></script>
        <script type="text/javascript" src="javascripts/socket.js"></script>
        <script type="text/javascript" src="javascripts/services.js"></script>
        <script type="text/javascript" src="javascripts/controllers.js"></script>
        <script type="text/javascript" src="javascripts/directives.js"></script>
        <script type="text/javascript" src="javascripts/jquery.scrollify.min.js"></script>
        <script type="text/javascript" src="javascripts/styling.js"></script>
        <script type="text/javascript" src="javascripts/angular-toggle-switch.js"></script>
        <script type="text/javascript" src="javascripts/angular-material/angular-material.min.js"></script>
		<link rel="stylesheet" type="text/css" href="javascripts/angular-material/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/monitor.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery.qtip.min.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/angular-toggle-switch.css">
    </head>
    <body ng-controller="BlockchainController" >
		<div class="hundredPercent" ng-view>
			<div class="screenWidth fixation" >
			<div class="screenWidth midRow">
				<div class="sideBySide" ng-repeat="(name, bal) in balances" balance></div>
				<div class="sideBySide">
					<p style="height: 30px">
						<span class="label"> hide empty blocks </span><br/>
						<toggle-switch ng-model="skipEmpty"><toggle-switch>
						
					</p>					
					<br/><br/><br/>
				</div>
			</div>
			<div class="screenWidth topRow">
				<div class="sideBySide" ng-repeat="(name, events) in processedData[blockIndex[selectedBlock]].events" event></div>
				<div class="sideBySide  qtip-shadow"> 
					<p>
						<span class="timeHolder ">
							<span class="label">last updated</span> <br/>{{lastupdated | date:"MM/dd/yyyy 'at' h:mma"}}
						</span>
						<span class="timeHolder ">
							<span class="label">blocks tracks </span><br/>
							{{processedData.length}}
						</span>
						<span class="timeHolder ">
							<span class="label">last block </span><br/>
							<span class="emphasis">{{blockHeight}}</span><br/>
						</span>
					</p>					
					<br/><br/><br/>
				</div>
			</div>
			</div>
			<div class="screenWidth bottomRow "  style="/*margin-top: 15%;*/">
				<div class="" ng-repeat="data in processedData">
					<div class="screenWidth blockRows" ng-if="skipEmpty?data.block.transactions.length > 0:true" ng-class="[data.blockno == selectedBlock?'selectedBorder':'']" >
						<div class="sideBySide" ng-repeat="(bank, txns) in data.trxns" transaction>
						</div>
						<div class="sideBySide">
							<div class="cellContainer blockCell hand"   ng-click="selectBlock(data.blockno)">
								<p class="gentleLeft">blockNum: <span>{{ data.block.blockNo | limitTo:10 }}</span></p>
								<p class="gentleLeft">blockHash: <span>{{ data.block.blockHash | limitTo:10 }}..</span></p>
								<p class="gentleLeft">parentHash: <span>{{ data.block.parentHash | limitTo:10 }}..</span></p>
								<p class="gentleLeft">no of txns: <span>{{ data.block.transactions.length }}</span></p>
							</div>
						</div>
					</div>
				</div>
				<div class="buffer" style="min-height: 400px;">		<br/>	<br/><br/>	<br/>	<br/>	<br/><br/>	<br/>	<br/>	<br/><br/>	<br/>	<br/>	<br/><br/>	<br/>	<br/>	<br/>	<br/>	<br/>{{updateToolTip('.hasToolTip')}}</div>
			</div>
		</div>		
    </body>
</html>