<div ng-if="events.length > 0" ng-repeat="event in getActiveEvent(name)">
<div class="eventCell event sample-show-hide"  ng-class="[event.side + '_event',event.txnHash,event.txnHash==selectedTxn?'highlight':'']" >
	<div class="counter hand" ng-click="switchEvent(name)">{{(getActiveEventIdx(name)+1)+ '\/' + events.length}}</div>
	<md-tooltip md-direction="top">
	  {{ event.txnHash }}
	</md-tooltip>
	<p class="gentleLeft">event: <span>{{ event.name }}</span></p>
	<p class="gentleLeft">blockNo: <span>{{ event.blockno }}</span></p>
	<p class="gentleLeft">txnHash: <span>{{ event.txnHash | limitTo:12 }}..</span></p>
	<p class="gentleLeft">contract: <span>{{ event.contract }}</span></p>
	<p class="gentleLeft" ng-if="event.args._bank">bank: <span>{{ event.args._bank | limitTo:6 }}</span></p>
	<p class="gentleLeft" ng-if="event.args._transactionID">txnID: <span>{{ event.args._transactionID }}</span></p>
	<p class="gentleLeft" ng-if="event.args.transactionId">txnID: <span>{{ event.args.transactionId }}</span></p>
	<p class="gentleLeft" ng-if="event.args._txID">txnID: <span>{{ event.args._txID }}</span></p>
	<p class="gentleLeft" ng-if="event.args.amount">amount: <span>{{ getSign(event.side) + (event.args.amount.valueOf() | currency  : "$" : 0)}}</span></p>

	<p class="gentleLeft">memo: <span>{{ event.memo | limitTo:10 }}</span></p>
</div>
<div class="innerCell" ng-if="events.length == 0">
</div>